# Don't track these
.DS_Store
.dart_tool/
.idea/
.vscode/
*.iml
*.lock
*.log
*.swp
.packages
.pub-cache/
.pub/
/build/linux/
/build/windows/
/build/macos/
/build/ios/
/build/android/
/assets/
/coverage/
# But DO track web build for Vercel
!/build/web/
